<%=form_tag page_search_path%>
    <div>
        <%= search_field_tag :search, params[:search], placeholder: "Search By Page Title"%>
        <div>
            <%= button_tag "Search Pages" %>
        </div>
    </div>
</form>
