<%= link_to "Create Page", new_page_path%>
<% @pages.each do |page| %>

<h1><%= link_to page.title, page_path(page) %></h1>
<p>Author: <%= link_to page.user.username, user_path(page.user) %></p>
<p><%= page.content %></p>
<% end %>
