<h1>Title: <%=@post.title%></h1>
<h1>Post: <%=@post.content%></h1>
<h1>User: <%=link_to @post.user.username, user_path(@post.user)%></h1>
<h1>Page: <%=link_to @post.page.title, page_path(@post.page)%></h1>
